###############################################
# WDK / WinDDK build output
###############################################

# Ignore all build output folders
bin/**/i386/
bin/**/amd64/

# Ignore unexpected arch folders
bin/i386/
bin/amd64/

# Ignore driver binaries
*.sys
*.pdb
*.cat

# Ignore release archives
*.7z
*.zip

# Ignore Windows ADS metadata
*:Zone.Identifier

###############################################
# Visual Studio / WDK intermediates
###############################################
*.obj
*.lib
*.exp
*.ilk
*.idb
*.ipch
*.pch
*.manifest
*.dep
*.tlog
*.cache

###############################################
# Logs
###############################################
*.log
*.wrn
*.err

###############################################
# VS user files
###############################################
*.suo
*.user
*.ncb
*.sdf
*.opensdf

###############################################
# Editor / tooling
###############################################
.vscode/
*.bak
*~
