###############################################
# WinDDK 7.1.0 build output
###############################################

# Build output directories
obj/
objchk_*/
objfre_*/
chkfre_*/

# Intermediate objects (safe to ignore)
*.obj
*.res
*.lib
*.exp
*.ilk

# Logs
*.log
*.wrn
*.err

# Build description artifacts
*.idb
*.ipch
*.tlog
*.cache

###############################################
# Visual Studio 2008 (VC9) build output
###############################################

# Build directories
Debug/
Release/

# VS2008 project user files
*.suo
*.user
*.ncb
*.sdf
*.opensdf

# VS2008 intermediate files
*.pch
*.manifest
*.dep

###############################################
# Editor / tooling
###############################################

.vscode/
*.bak
*~
