// I2CCTRL_EMU_version.rc
// Version resource for I2C Controller Emulator (ASUS X509FA 9DE9)

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DRV
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English, Unicode
        BEGIN
            VALUE "CompanyName",      "UsefulAGKHelper\0"
            VALUE "FileDescription",  "I2C Controller Emulator for ASUS X509FA (9DE9)\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "i2cctrl_emu.sys\0"
            VALUE "OriginalFilename", "i2cctrl_emu.sys\0"
            VALUE "ProductName",      "I2CCTRL Emulator\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
            VALUE "LegalCopyright",   "Copyright (C) 2025 UsefulAGKHelper\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
