// i2chid_version.rc
// Version information for i2chid.sys
// This metadata shows up in Explorer file properties.

#include <winver.h>

// ---------------------------------------------------------------------------
// Version number definitions (self-contained)
// ---------------------------------------------------------------------------
#define VER_MAJOR 1
#define VER_MINOR 0
#define VER_BUILD 0
#define VER_REV   0

// Helpers to stringify numeric macros
#define _STR(x) #x
#define STR(x) _STR(x)

// Build the dotted version string automatically
#define VER_STR  STR(VER_MAJOR) "." STR(VER_MINOR) "." STR(VER_BUILD) "." STR(VER_REV)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     VER_MAJOR,VER_MINOR,VER_BUILD,VER_REV
 PRODUCTVERSION  VER_MAJOR,VER_MINOR,VER_BUILD,VER_REV
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS       VS_FF_DEBUG
#else
 FILEFLAGS       0x0L
#endif
 FILEOS          VOS_NT_WINDOWS32
 FILETYPE        VFT_DRV
 FILESUBTYPE     VFT2_DRV_SYSTEM
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"    // U.S. English, Unicode
        BEGIN
            VALUE "CompanyName",      "UsefulAGKHelper\0"
            VALUE "FileDescription",  "I2C HID Miniport Driver (PNP0C50 universal)\0"
            VALUE "FileVersion",      VER_STR "\0"
            VALUE "InternalName",     "i2chid.sys\0"
            VALUE "OriginalFilename", "i2chid.sys\0"
            VALUE "ProductName",      "I2C HID-over-I2C Driver\0"
            VALUE "ProductVersion",   VER_STR "\0"
            VALUE "LegalCopyright",   "© 2025 UsefulAGKHelper\0"
            VALUE "LegalTrademarks",  "All rights reserved.\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
